/*
 * authn.css
 */
span.id {
    display: none;
}

#login-form #new-account label {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
}

.nav li form {
    padding-left: 10px;
    padding-right: 10px;
}
